body {
  background-color: #000000;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  float: inline-start;
}

.title {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  color: #7a704c;
  text-align: right;
}

.subtitle {
  margin: auto;
  font-family: "Helvetica";
  font-size: 20px;
  color: #80712e;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* style table headers */
th {
  font-family: "Helvetica";
  font-size: 20px;
  color: #997e06;
}

/* style center box */
center {
  padding: 60px;
  background-color: #29230d;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

 /* Style the submit button */ 
form.example button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #bb9a09;
  color: rgb(243, 239, 215);
  font-size: 15px;
  border: 1px rgb(243, 239, 215);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background:#997e06;
} 

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


/* style input in the search boxes */

form.example #moviesearch {
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(136, 135, 132);
  float: left;
  width: 80%;
  background: #f3f0e6;
  outline: none;
}

form.example input[type=text], select {
  padding: 10px;
  font-size: 15px;
  border: 1px solid rgb(136, 135, 132);
  float: left;
  width: 40%;
  background: #f3f0e6;
  outline: none;
}

.movie {
  color: #b8b6ae;
  margin-top: 30px;
}

.footer {
  color: #b8b6ae;
  height: 30px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


